<div class="topbar" style="margin-left: auto; margin-right: auto; max-width: 950px; text-align: center;">
<a href="/"><img max-width="max-width: 950px; 950px" src="/images/title.png"></a>
<br/>
<a href="mailto:{{ site.email }}?subject="><img src="/images/MauilTo-Icon.jpg"/></a>
<a href="https://bsky.app/profile/{{ site.bluesky_username| cgi_escape | escape }}.bsky.social/"><img src="/images/Icon_Bluesky.jpg"></a>
<a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><img src="/images/Youtube-icon.jpg"/></a>
<a href="{% post_url 2017-11-08-Covert_Shores_Articles %}">INDEX of Articles</a>
</div>
