---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
	background: #071918;
	background: -webkit-linear-gradient(top, #273938, black);
	background: -moz-linear-gradient(top, #273938, black);
	background-attachment: fixed;
	font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

.topbar {
	background-color: lightgray;
	border-radius: 10px;
}

main .wrapper {
	background-color: lightgray;
	border-radius: 10px;
}

footer a:hover {
	color: pink;
}

.postinfo {
	color: gray;
}

.postsep {
	border-width: 2px;
	border-color: white;
}
